<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button>

<div class="modal fade bd-example-modal-sm">
  <div class="mx-auto bg-white w-40">
    <div class="col-12 blue_background mt-200 p-4">
      <span>Êtes-vous sûr de vouloir supprimer cette certification ?</span>
    </div>
    <div class="row p-4">
      <div class="col-6 h-25">
        <div class="d-flex justify-content-center">
          <button class="btn btn-primary annuler" type="button">NON</button>
        </div>
      </div>
      <div class="col-6 h-25">
        <div class="d-flex justify-content-center">
          <button class="btn btn-primary" type="button">OUI</button>
        </div>
      </div>
    </div>
  </div>
</div>
