<div class="text-center mt-5 mb-5 w-75 mx-auto">
  <div class="text-danger text-uppercase fs-20 font-weight-bold underline lh-150">Attention !</div>
  <div class="fs-20 font-weight-bold underline lh-150">Ce profil vous permet d'agir sur les utilisateurs et les différents éléments de l'entreprise (contrats, départements et postes)</div>
</div>
<div class="container">
  <div class="row">
    <div class="col- mx-auto h-25 mt-5 ">
        <a href="sadmin-creer"><button class="btn float-right rounded-pill color-black bg-jaunefayat border-jaunefayat bouton_connexion2" type="button">Créer un utilisateur</button></a>
    </div>
    <div class="col- mx-auto h-25 mt-5 ">
        <a href="sadmin-modifier"><button class="btn float-right rounded-pill color-black bg-jaunefayat border-jaunefayat bouton_connexion2" type="button">Modifier les privilèges d'un utilisateur</button></a>
    </div>
    <div class="col- mx-auto h-25 mt-5 ">
        <a href="sadmin-mdp"><button class="btn float-right rounded-pill color-black bg-jaunefayat border-jaunefayat bouton_connexion2" type="button">Réinitialiser le mot de passe d'un utilisateur</button></a>
    </div>
    <div class="col- mx-auto h-25 mt-5">
        <a href="sadmin-supprimer"><button class="btn float-right rounded-pill color-black bg-jaunefayat border-jaunefayat bouton_connexion2 " type="button">Supprimer un utilisateur</button></a>
    </div>
  </div>

  <div class="row">
    <div class="col- mx-auto h-25 mt-5 ">
        <a href="gestion-contrat"><button class="btn float-right rounded-pill color-black bg-jaunefayat border-jaunefayat bouton_connexion2" type="button">Gestion des contrats</button></a>
    </div>
    <div class="col- mx-auto h-25 mt-5 ">
        <a href="gestion-service"><button class="btn float-right rounded-pill color-black bg-jaunefayat border-jaunefayat bouton_connexion2" type="button">Gestion des départements</button></a>
    </div>
    <div class="col- mx-auto h-25 mt-5">
        <a href="gestion-poste"><button class="btn float-right rounded-pill color-black bg-jaunefayat border-jaunefayat bouton_connexion2 " type="button">Gestion des postes</button></a>
    </div>
  </div>
</div>
