<nav class="navigation_bar text-white">
    <div class="d-flex justify-content-center pt-2">
      <p class="session text-jaunefayat p-1 m-0">Session : <% if(typeof email != 'undefined'){%><%= email%><%}%></p>
    </div>
</nav>
