

.logo_admin{
  max-width: 100%;
  min-width: 257px;
  max-height: 60px;
}


.annuler{
  background-color: #cacaca;
  border-color: #cacaca;
}



.ml-7{
  margin-left: 80px;
}

.w-80{
  width: 80%;
}
