<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../head') -%>
  </head>
  <body>
    <%- include('../header1') -%>
    <%- include('recovery_form') -%>
    <%- include('../footer') -%>
  </body>
</html>
