<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>HABILI PARIS</title>
    <%- include('../head') -%>
  </head>
  <body class=" back-img bg-bleufayat">
    <%- include('login_form') -%>
    <%- include('../footerFayat') -%>
  </body>
</html>
